<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no,width=device-width">
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta property="og:title" content="PhilipMorris.PH | Games">
  <meta property="og:description" content="PMFTC Word Search">
  <meta property="og:image" content="assets/images/brand-logo.png">
  <meta property="og:url" content="http://pmftc-games.com/">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
    integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
    integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script type="text/javascript" src="/js/index.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
  <script type="text/javascript" src="/js/navigation.js"></script>
  <script type="text/javascript" src="/js/pace.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
  <script src="https://unpkg.com/async-assets-loader@1.2.0/dist/async-assets-loader.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="icon" type="image/png" sizes="16x16" href="image/PM COIN@2x.png">
  <link rel="stylesheet" href="/css/main.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <title>PhilipMorris.PH | Games</title>
</head>

<body>
  <div id="landscape">
    <div>Rotate Device to Portrait</div>
  </div>
  <audio hidden="" style="" class="bg-music" autoplay="" loop="true" name="media">
    <source src="/audio/game-bg.mp3" type="audio/mpeg"></audio>
  <button id='trickBtn' hidden='true'></button>
  <div id="preloader">
    <img src="image/bg-loading.png">
  </div>
  <main>
    <div class="container game-content" style="display: none;">
      <div class="wifi-message">
        <div class="wifi-content">
          <img src="image/icon_wifi.png">
          <p>MAKE SURE YOU INTERNET CONNECTION IS<br> STABLE BEFORE YOU START THE GAME.</p>
          <button class="btn btn-close wifi-close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>
        </div>
      </div>

      <div class="row">
        <div class="mx-auto col-md-6 col-lg-6">
          <div class="game-content--heading">
            <button class="btn btn-volume" id="unmute-audio-homepage" style="display:none;"><i id="play"
                class="fas fa-volume-mute"></i></button>
          </div>

          <div id="home-game-content" class="game-content--body">
            <div class="content-body--middle">
              <img src="image/wordsearch-assets/img_step1.jpg" class="findpm--step-1">
            </div>

            <div class="content-body--footer">
              <a class="btn btn-default btn-block btn-animate" id="go-to-step2"> PLAY NOW </a>
              <a class="btn btn-default btn-block" onclick="goIndex();"> HOME </a>
              <p><b>REMINDER:</b> YOU HAVE UNLIMITED ATTEMPTS TO ACCOMPLISH EACH LEVEL PER DAY, POINTS CAN BE EARNED
                ONCE PER DAY ONLY.</p>
            </div>
          </div>

          <!-- STEP 2 -->
          <div id="step2-game-content" class="game-content--body content-between">
            <div class="content-body--top">
              <button id="step-2-back" class="btn btn-default-round btn-back" onclick="goHome();"><i
                  class="fas fa-angle-left"></i></button>
              <button id="step-2-close" class="btn btn-default-round btn-close"><i class="fas fa-times"></i></button>
            </div>

            <div class="content-body--middle">
              <img src="image/wordsearch-assets/img_step2.gif" class="findpm--step-2">
              <h3>Level up your Philip Morris knowledge by looking for the hidden words!</h3>
            </div>

            <div class="content-body--footer">
              <a class="btn btn-default btn-block btn-animate btn-single" id="go-to-step3"> START </a>
            </div>
          </div>

          <div id="step-2-end" class="game-content--body content-endgame">
            <div class="endgame-contents">
              <button class="btn btn-default-round btn-close float-right" id="go-to-step2-mb"><i
                  class="fas fa-times"></i></button>
              <h3>Are you sure you want to end the game?</h3>
              <p>You can continue playing to earn coins</p>

              <a class="btn btn-default btn-block btn-animate" id="go-to-step2-m"> NO </a>
              <a class="btn btn-default btn-block btn-last" onclick="goIndex();"> YES </a>
            </div>
          </div>

          <!-- STEP 5 || GAMEPLAY -->
          <div id="step-5" class="game-content--body content-gameplay wordsearch">
            <div class="wordsearch-header">
              <h6>LOOK FOR</h6>
              <button class="btn btn-default-round btn-close gameContent-close" id="go-to-step5-m"><i
                  class="fas fa-times"></i></button>

              <table class="table" id="tableList">
                <tbody id='tableBody'></tbody>

              </table>
            </div>
            <div class="content-body--middle wordsearch-body">
              <div class="wordsearch-letters">
                <section id="ws-area"></section>
              </div>
              <button class="btn btn-default btn-block" id="hint-btn">
                HINT
              </button>
            </div>
          </div>

          <div id="step-5-end" class="game-content--body content-endgame">
            <div class="endgame-contents">
              <button class="btn btn-default-round btn-close float-right return-to-game"><i
                  class="fas fa-times"></i></button>
              <h3>Are you sure you want to end the game?</h3>
              <p>You can continue playing to earn coins</p>

              <a class="btn btn-default btn-block btn-animate return-to-game"> NO </a>
              <a class="btn btn-default btn-block btn-last" onclick="goIndex();"> YES </a>
            </div>
          </div>

          <!-- STEP 6 || CONGRATS-->
          <div id="step-6" class="game-content--body content-congrats">
            <div class="congrats-contents">
              <h2>Congratulations!</h2>
              <h4>You Earned</h4>
              <img src="image/icon_congrats.png">
              <h4>50 Coins!</h4>
              <a class="btn btn-default btn-block" onclick="goSpendCoins();"> SPEND COINS NOW! </a>
              <a class="btn btn-default btn-block btn-last" onclick="goIndex()"> EARN MORE COINS! </a>
            </div>
          </div>

          <!-- STEP 7 || TRY AGAIN  -->
          <div id="step-7" class="game-content--body content-tryagain">
            <div class="tryagain-contents">
              <button class="btn btn-default-round btn-close float-right" onclick="goIndex();"><i
                  class="fas fa-times"></i></button>
              <h3>Oh, no! Time’s Up!</h3>
              <img src="image/icon_tryagain.png" class="img-tryagain">
              <a class="btn btn-default btn-block btn-animate btn-last" id="try-again-tu-m"> TRY AGAIN </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <div class="modal fade modal-gohome" id="gohome" tabindex="-1" role="dialog" aria-labelledby="gohome"
    aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          <h3>Are you sure you want to end the game?</h3>
          <p>You can continue playing to earn coins</p>

          <a class="btn btn-default-red btn-block btn-no"> No </a>
          <a class="btn btn-default-red btn-block" onclick="goHome();"> Yes </a>
        </div>
      </div>
    </div>
  </div>
</body>
{{!-- <body>
  
  
  <main>
    
  </main>
  
</body> --}}


</html>