@import url(../css/all.min.css);
@import url(../css/bootstrap.min.css);
@font-face {
  font-family: "PM_Bodoni";
  src: url("../../assets/fonts/PM_Bodoni-Bold.eot");
  src: url("../../assets/fonts/PM_Bodoni-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/PM_Bodoni-Bold.woff2") format("woff2"),
    url("../../assets/fonts/PM_Bodoni-Bold.woff") format("woff"),
    url("../../assets/fonts/PM_Bodoni-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura Bk";
  src: url("../../assets/fonts/Futura-Book.eot");
  src: url("../../assets/fonts/Futura-Book.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/Futura-Book.woff2") format("woff2"),
    url("../../assets/fonts/Futura-Book.woff") format("woff"),
    url("../../assets/fonts/Futura-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PM_Futuris";
  src: url("../../assets/fonts/PM_Futuris-Bold.eot");
  src: url("../../assets/fonts/PM_Futuris-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/PM_Futuris-Bold.woff2") format("woff2"),
    url("../../assets/fonts/PM_Futuris-Bold.woff") format("woff"),
    url("../../assets/fonts/PM_Futuris-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PM_Futuris";
  src: url("../../assets/fonts/PM_Futuris-Medium.eot");
  src: url("../../assets/fonts/PM_Futuris-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/PM_Futuris-Medium.woff2") format("woff2"),
    url("../../assets/fonts/PM_Futuris-Medium.woff") format("woff"),
    url("../../assets/fonts/PM_Futuris-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PM_Futuris";
  src: url("../../assets/fonts/PM_Futuris-Light.eot");
  src: url("../../assets/fonts/PM_Futuris-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/PM_Futuris-Light.woff2") format("woff2"),
    url("../../assets/fonts/PM_Futuris-Light.woff") format("woff"),
    url("../../assets/fonts/PM_Futuris-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
html,
body {
  height: 100%;
}

body {
  background-image: url("../../assets/images/bg-body.png");
  background-color: white;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  height: 100%;
  width: 100%;
  font-family: "Futura Bk", sans-serif;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Futura Bk", sans-serif;
  color: #ca151a;
}

.game-content {
  padding-top: 2rem;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
}
.game-content--heading {
  width: 100%;
}
.game-content--heading h2 {
  text-align: center;
  font-family: "PM_Bodura";
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 0;
}
.game-content--heading p {
  text-align: center;
  font-weight: 300;
  font-family: "PM_Futuris";
}
.game-content--heading p img {
  width: 20px;
  padding-bottom: 1px;
  margin-right: 3px;
}
.game-content--heading p span {
  font-weight: 800;
  color: #a4740e;
}
.game-content--body {
  background-image: url("../../assets/images/bg-gamebody.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 0;
  width: auto;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.game-content--body.content-between {
  padding: 20px 0;
  justify-content: space-between !important;
}
.game-content--body.loading-assets {
  background-color: white;
  border: 1px solid #ca151a;
  background-image: none;
}
.game-content--body .loading-contents {
  width: 100%;
  margin: 0 auto;
}
.game-content--body .loading-contents img {
  margin-bottom: 50px;
}
.game-content--body.content-countdown,
.game-content--body.content-congrats,
.game-content--body.content-tryagain,
.game-content--body.content-endgame {
  background-color: #a69e97;
  background-image: none;
  border: 1px solid #ca151a;
}
.game-content--body.content-countdown h2 {
  font-weight: bold;
  font-family: "PM_Futuris";
  font-size: 200px;
}
.game-content--body.content-countdown h2.start {
  font-size: 100px;
}
.game-content--body .congrats-contents {
  box-shadow: 0px 3px 6px #000000a6;
  background-color: white;
  background-image: url("../../assets/images/bg-congrats.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10%;
  margin-right: 10%;
  padding: 20px;
}
.game-content--body .congrats-contents img {
  width: 100px;
  margin: 10px 0;
}
.game-content--body .congrats-contents h2 {
  margin-top: 10px;
  font-weight: bold;
  font-family: "PM_Futuris";
  margin-bottom: 30px;
}
.game-content--body .congrats-contents h4 {
  color: #a4740e;
  font-weight: bold;
  font-family: "PM_Futuris";
}
.game-content--body .congrats-contents .btn-default:nth-of-type(1) {
  margin-bottom: 20px;
  margin-top: 30px;
}
.game-content--body .congrats-contents .btn-default.btn-last {
  margin-bottom: 20px;
}
.game-content--body .tryagain-contents,
.game-content--body .endgame-contents {
  box-shadow: 0px 3px 6px #000000a6;
  background-color: white;
  padding: 20px 30px;
  margin-left: 10%;
  margin-right: 10%;
}
.game-content--body .tryagain-contents h3,
.game-content--body .endgame-contents h3 {
  margin-top: 80px;
  font-weight: bold;
  font-family: "PM_Futuris";
}
.game-content--body .tryagain-contents p,
.game-content--body .endgame-contents p {
  color: #a4740e;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 18px;
}
.game-content--body .tryagain-contents .img-tryagain,
.game-content--body .endgame-contents .img-tryagain {
  width: 80px;
  margin: 30px 0;
}
.game-content--body .tryagain-contents .btn-default:nth-of-type(1),
.game-content--body .endgame-contents .btn-default:nth-of-type(1) {
  margin-bottom: 20px;
}
.game-content--body .tryagain-contents .btn-default.btn-last,
.game-content--body .endgame-contents .btn-default.btn-last {
  margin-bottom: 50px;
}
.game-content--body .content-body--top {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}
.game-content--body .content-body--middle h3 {
  color: white;
  font-weight: 600;
  font-size: 20px;
  margin-top: 30px;
}
.game-content--body .content-body--middle p {
  color: white;
  font-weight: 600;
  margin-top: 20px;
}
.game-content--body .content-body--middle .findpm-icons p {
  margin-bottom: 30px;
  font-size: 14px;
}
.game-content--body .content-body--middle .findpm-icons .coin {
  width: 19px;
  padding-bottom: 5px;
}
.game-content--body .content-body--footer .btn-block {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 10px 0;
}
.game-content--body .content-body--footer p {
  font-weight: bold;
  font-size: 12px;
  color: white;
  width: 80%;
  margin: 0 auto;
}

.findpm {
  padding: 0 !important;
  justify-content: flex-start !important;
}
.findpm .findpm-header {
  justify-content: space-between !important;
}
.findpm .findpm-header .header--left {
  width: 100%;
  margin: auto;
  padding: 10px 0;
}
.findpm .findpm-header .header--left p {
  font-size: 20px;
  color: white;
  margin-bottom: 5px;
}
.findpm .findpm-header .header--left .image-count {
  background-color: #842a1d;
  border: 1px solid #662511;
  border-radius: 20px;
  padding: 5px 15px;
  color: white;
  font-size: 23px;
}
.findpm .findpm-header .header--left img {
  margin-left: 20px;
  width: 20%;
}
.findpm .findpm-header .header--right {
  display: flex;
}
.findpm .findpm-header .header--right .timer-bg {
  background: transparent
    linear-gradient(180deg, #570b0e 0%, #ad161b 50%, #570b0e 100%) 0% 0%
    no-repeat padding-box;
  border: 1px solid #a4740e;
  padding: 0 10px;
  display: flex;
  align-items: center;
}
.findpm .findpm-header .header--right .timer-badge {
  background-color: #842a1d;
  border: 1px solid #662511;
  color: white;
  border-radius: 50px;
  padding: 10px 20px;
  border: 1px solid #a4740e;
  width: 75px;
  height: 75px;
  text-align: center;
  margin: 0 auto;
}
.findpm .findpm-header .header--right .timer-badge h4 {
  margin-bottom: 0;
  font-size: 27px;
  color: white;
  font-weight: bold;
}
.findpm .findpm-header .header--right .timer-badge p {
  font-size: 11px;
  margin-bottom: 0;
}
.findpm .findpm-header .header--right .btn-close {
  height: fit-content;
  margin-left: 20px;
  margin-top: 20px;
}
.findpm .findpm-body {
  margin: 0 10px;
}
.findpm .findpm-body .icon-find {
  width: 100%;
}
.findpm .findpm-footer {
  color: white;
  height: 100%;
  padding-top: 10px;
}
.findpm .findpm-footer.find-footer-wbg {
  background: transparent url("../../assets/images/findpm-assets/bg-spark.png")
    0% 0% no-repeat padding-box;
  mix-blend-mode: screen;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.findpm .findpm-footer h5 {
  color: white;
  font-weight: bold;
  font-family: "PM_Futuris";
  margin-bottom: 0;
}

.wordsearch {
  justify-content: flex-start !important;
  padding: 15px 0 0 0;
}
.wordsearch h6 {
  margin-top: 10px;
  color: white;
}
.wordsearch .table {
  color: white;
  margin-top: 10px;
  text-align: left;
}
.wordsearch .table td {
  border: 0;
  padding: 0;
}
.wordsearch .table td img {
  width: 20px;
  margin-left: 18%;
  margin-bottom: 5px;
  margin-right: 2px;
}
.wordsearch .btn-close {
  position: absolute;
  right: 34px;
}
.wordsearch .wordsearch-body {
  background-color: #f0f0f0;
  border: 1px solid #a4740e;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.wordsearch .wordsearch-body .wordsearch-letters {
  padding: 15px;
}
.wordsearch .wordsearch-body .wordsearch-letters img {
  width: 100%;
}
.wordsearch .wordsearch-body .btn-default {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.ws-h3 {
  padding-left: 15px;
  padding-right: 15px;
}

.btn-default {
  background-color: #ca151a;
  background-image: url("../../assets/images/bg-button.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0;
  color: white;
  font-weight: bold;
  font-family: "PM_Futuris";
  padding: 8px 0;
  font-size: 14px;
}

.btn-default-round {
  color: white;
  border-radius: 50%;
  width: 40px;
  background-color: #ca151a;
  box-shadow: 0px 3px 6px #00000040;
}

.btn-single {
  margin-bottom: 50px !important;
}

.btn-play {
  margin-top: 50px !important;
}

.btn:hover,
.btn:active .btn.active {
  color: white;
}

.btn:focus,
.btn:active:focus,
.btn:focus {
  outline: none;
  box-shadow: none;
}

.btn-wifi {
  background-color: #ca151a;
  font-size: 10px;
  color: white;
  border-radius: 50%;
  padding: 1px 6px;
  position: absolute;
  margin-left: 2px;
}

.btn-animate {
  animation: beat 0.35s infinite alternate;
  transform-origin: center;
  box-shadow: 0px 3px 6px #00000040;
}

@keyframes beat {
  to {
    transform: scale(1.06);
  }
}
.wifi-message {
  display: none;
}
.wifi-message .wifi-content {
  position: fixed;
  z-index: 99;
  right: 0;
  top: 50px;
  display: flex;
  align-items: center;
  background-color: #ca151a;
  box-shadow: 0px 3px 6px #00000091;
  opacity: 0.9;
  color: white;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
}
.wifi-message img {
  width: 40px;
}
.wifi-message p {
  font-family: "PM_Futuris";
  font-weight: 100;
  font-size: 12px;
  margin-bottom: 0;
  padding-left: 15px;
  padding-right: 5px;
}
.wifi-message .btn-close {
  background-color: transparent;
  color: white;
}

.btn-volume {
  position: absolute;
  right: 0;
  font-size: 20px;
  top: -5px;
  color: #6b6b6b;
}
.btn-volume:focus,
.btn-volume:hover,
.btn-volume:active {
  color: #ca151a;
  background-color: transparent;
}
.btn-volume .fa-volume-up {
  color: #ca151a;
}

#preloader {
  background-color: white;
  width: 100%;
  z-index: 1000;
  position: fixed;
  height: -webkit-fill-available;
  overflow: hidden;
}
#preloader img {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 40px;
  width: 7%;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5px;
  width: 200px;
  background: #a69e97;
  overflow: hidden;
}

.pace .pace-progress {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  max-width: 200px;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: #ca151a;
}

.pace.pace-inactive {
  display: none;
}

#step-2,
#step-2-end,
#step-3,
#step-3-end,
#step-4,
#step-4-end,
#step-5,
#step-5-end,
#step-6,
#step-7 {
  display: none;
}

.findpm--step-1,
.findpm--step-2 {
  width: 80%;
}

.iconto-find {
  margin-bottom: 20px;
  width: 50%;
}

@media (max-width: 1024px) {
  .col-md-6 {
    flex: 0 0 70%;
    max-width: 70%;
  }

  .game-content {
    padding-top: 5rem;
  }

  .findpm .findpm-header {
    height: 100%;
  }
  .findpm .findpm-header .header--left img {
    width: 15%;
  }

  #preloader img {
    padding-bottom: 0;
  }

  .findpm--step-1,
  .findpm--step-2 {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .col-md-6 {
    flex: none;
    max-width: none;
  }

  .game-content {
    padding-top: 4rem;
  }
  .game-content--body {
    width: 100%;
  }
  .game-content--body .content-body--middle p {
    padding: 0 20px;
  }
  .game-content--body .congrats-contents img {
    width: 60px;
  }
  .game-content--body .tryagain-contents .img-tryagain {
    width: 50px;
    margin: 20px 0;
  }

  .findpm--step-1,
  .findpm--step-2 {
    width: 60%;
  }

  .iconto-find {
    width: 30%;
  }
}
@media (max-width: 414px) {
  .game-content {
    padding-top: 2.5rem;
  }
  .game-content--heading h2 {
    font-size: 20px;
  }
  .game-content--heading p {
    font-size: 14px;
  }
  .game-content--body .content-body--middle h3 {
    font-size: 15px;
  }
  .game-content--body .content-body--middle p {
    font-size: 12px;
  }
  .game-content--body .content-body--middle .findpm-icons p {
    font-size: 12px;
  }
  .game-content--body .content-body--footer .btn-block {
    padding: 8px 0;
  }
  .game-content--body .content-body--footer p {
    font-size: 10px;
  }
  .game-content--body.content-countdown h2 {
    font-size: 100px;
  }
  .game-content--body.content-countdown h2.start {
    font-size: 70px;
  }
  .game-content--body.content-countdown h4 {
    font-size: 20px;
  }
  .game-content--body.content-countdown .btn-default:nth-of-type(1) {
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .game-content--body.content-countdown .btn-default.btn-last {
    margin-bottom: 10px;
  }
  .game-content--body .congrats-contents {
    margin-left: 5%;
    margin-right: 5%;
  }
  .game-content--body .congrats-contents h2 {
    margin-bottom: 10px;
    font-size: 30px;
  }
  .game-content--body .congrats-contents .btn-default:nth-of-type(1) {
    margin-bottom: 10px;
    margin-top: 15px;
  }
  .game-content--body .congrats-contents .btn-default.btn-last {
    margin-bottom: 10px;
  }
  .game-content--body .tryagain-contents,
  .game-content--body .endgame-contents {
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px 20px;
  }
  .game-content--body .tryagain-contents h3,
  .game-content--body .endgame-contents h3 {
    font-size: 18px;
    margin-top: 50px;
  }
  .game-content--body .tryagain-contents p,
  .game-content--body .endgame-contents p {
    margin-top: 10px;
    font-size: 14px;
  }
  .game-content--body .tryagain-contents .btn-default:nth-of-type(1),
  .game-content--body .endgame-contents .btn-default:nth-of-type(1) {
    margin-bottom: 10px;
  }
  .game-content--body .tryagain-contents .btn-default.btn-last,
  .game-content--body .endgame-contents .btn-default.btn-last {
    margin-bottom: 30px;
  }

  .findpm .findpm-header .header--left img {
    width: 30%;
    margin-top: -11px;
    margin-left: 0;
  }
  .findpm .findpm-header .header--left p {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .btn-default {
    font-size: 12px;
  }

  .btn-default-round {
    font-size: 14px;
    width: auto;
    padding: 4px 11px;
  }

  .btn-volume {
    top: -13px;
  }

  #preloader img {
    width: 80px;
  }

  .iconto-find {
    width: 50%;
  }

  .findpm--step-1,
  .findpm--step-2 {
    width: 70%;
  }
}
@media (max-width: 375px) {
  .game-content {
    padding-top: 2rem;
  }

  .iconto-find {
    width: 45%;
  }
}
@media only screen and (device-width: 375px) and (device-height: 812px) {
  .game-content {
    padding-top: 3rem;
  }
}
@media (max-width: 320px) {
  .game-content--heading h2 {
    font-size: 19px;
  }
  .game-content--heading p {
    font-size: 12px;
  }
  .game-content--heading p img {
    width: 10px;
  }
  .game-content--body .content-body--middle p {
    margin-top: 0;
  }
  .game-content--body .content-body--footer .btn-block {
    padding: 5px 0;
  }
  .game-content--body .congrats-contents img {
    width: 35px;
  }
  .game-content--body .congrats-contents h2 {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .game-content--body .congrats-contents h4 {
    font-size: 15px;
  }

  .findpm .findpm-header .header--left img {
    width: 24%;
    margin-top: -3px;
    margin-left: 0;
  }
  .findpm .findpm-header .header--left p {
    font-size: 10px;
    margin-bottom: 10px;
  }
  .findpm .findpm-header .header--left .image-count {
    font-size: 12px;
  }
  .findpm .findpm-header .header--right .timer-badge {
    padding: 10px 10px;
    width: 60px;
    height: 60px;
  }
  .findpm .findpm-header .header--right .timer-badge h4 {
    font-size: 15px;
  }
  .findpm .findpm-header .header--right .btn-close {
    margin-left: 10px;
    margin-top: 10px;
  }

  .wifi-message p {
    font-size: 10px;
  }

  .btn-wifi {
    font-size: 5px;
    width: auto;
    padding: 1px 3px;
  }

  .btn-volume {
    top: -15px;
  }

  .btn-default {
    font-size: 12px;
  }

  #preloader img {
    width: 60px;
  }

  .iconto-find {
    margin-bottom: 0;
  }
}

table.table {
  display: table; /* Allow the centering to work */
  margin: 0 auto;
}

ul#wordsList .ws-words {
  max-width: 75%;
  list-style-type: none;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  color: white;
}
ul#wordsList li {
  display: inline-flex;
  letter-spacing: 0px;
  color: #ffffff;
  font-size: 12px;
  float: left;
}
ul#wordsList li.circle {
  background: url("../image/wordsearch-assets/icon-checked.png");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: left;
  padding-left: 20px;
  padding-right: 10px;
}

ul#wordsList li.wordCheck {
  background: url("../image/wordsearch-assets/icon-uncheck.png");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: left;
  padding-left: 20px;
  padding-right: 10px;
}

.ws-area,
#ws-area {
  display: inline-block;
  border-radius: 10px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  font-family: "Times New Roman";
}

.ws-row {
  line-height: 0;
}

.ws-col {
  cursor: pointer;
}

.ws-col.ws-selected,
.hint {
  background: #f59089 0% 0% no-repeat padding-box;
  border-radius: 1px;
  opacity: 0.35;
  color: black;
}

.ws-found {
  background: #f59089 0% 0% no-repeat padding-box;
}

/*# sourceMappingURL=main.css.map */
