* {
  margin: 0;
  padding: 0;
  font-family: "akzidenzgroteskbq bdcnd";
}

@font-face {
  font-family: PM_Bodoni;
  src: url(/fonts/PM_Bodoni-Bold.eot);
  src: url(/fonts/PM_Bodoni-Bold.eot?#iefix) format("embedded-opentype"),
    url(/fonts/PM_Bodoni-Bold.woff2) format("woff2"),
    url(/fonts/PM_Bodoni-Bold.woff) format("woff"),
    url(/fonts/PM_Bodoni-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura Bk";
  src: url(/fonts/Futura-Book.eot);
  src: url(/fonts/Futura-Book.eot?#iefix) format("embedded-opentype"),
    url(/fonts/Futura-Book.woff2) format("woff2"),
    url(/fonts/Futura-Book.woff) format("woff"),
    url(/fonts/Futura-Book.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: PM_Futuris;
  src: url(/fonts/PM_Futuris-Bold.eot);
  src: url(/fonts/PM_Futuris-Bold.eot?#iefix) format("embedded-opentype"),
    url(/fonts/PM_Futuris-Bold.woff2) format("woff2"),
    url(/fonts/PM_Futuris-Bold.woff) format("woff"),
    url(/fonts/PM_Futuris-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: PM_Futuris;
  src: url(/fonts/PM_Futuris-Medium.eot);
  src: url(/fonts/PM_Futuris-Medium.eot?#iefix) format("embedded-opentype"),
    url(/fonts/PM_Futuris-Medium.woff2) format("woff2"),
    url(/fonts/PM_Futuris-Medium.woff) format("woff"),
    url(/fonts/PM_Futuris-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: PM_Futuris;
  src: url(/fonts/PM_Futuris-Light.eot);
  src: url(/fonts/PM_Futuris-Light.eot?#iefix) format("embedded-opentype"),
    url(/fonts/PM_Futuris-Light.woff2) format("woff2"),
    url(/fonts/PM_Futuris-Light.woff) format("woff"),
    url(/fonts/PM_Futuris-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

html,
body {
  width: 100%;
  height: 100%;
  background: #ffffff;
  color: white; /*linear-gradient(#badbe4, #aaf7e1);*/
  overscroll-behavior-y: contain;
  overflow: hidden;
}
body {
  height: 100%;
  width: 100%;
  margin: auto;
  display: table;
  top: 0;
  position: relative;
}
main {
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Futura Bk", sans-serif;
  color: #ca151a;
}
.game-content {
  margin: 0 auto;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-content .row {
  width: 100%;
}
.game-content--heading {
  width: 100%;
}
.game-content--heading h2 {
  text-align: center;
  font-family: PM_Bodura;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 0;
}
.game-content--heading p {
  text-align: center;
  font-weight: 300;
  font-family: PM_Futuris;
}
.game-content--heading p img {
  width: 20px;
  padding-bottom: 1px;
  margin-right: 3px;
}
.game-content--heading p span {
  font-weight: 800;
  color: #a4740e;
}
.game-content--heading button {
  padding-right: 20px;
}
.game-content--body {
  background-image: url(/image/bg-gamebody.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 10px 0;
  width: auto;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.game-content--body.content-between {
  padding: 20px 0;
  justify-content: space-between !important;
}
.game-content--body.loading-assets {
  background-color: #fff;
  border: 1px solid #ca151a;
  background-image: none;
}
.game-content--body .loading-contents {
  width: 100%;
  margin: 0 auto;
}
.game-content--body .loading-contents img {
  margin-bottom: 50px;
}
.game-content--body.content-congrats,
.game-content--body.content-countdown,
.game-content--body.content-endgame,
.game-content--body.content-tryagain {
  background-color: #a69e97;
  background-image: none;
  border: 1px solid #ca151a;
}
.game-content--body.content-countdown h2 {
  font-weight: 700;
  font-family: PM_Futuris;
  font-size: 200px;
}
.game-content--body.content-countdown h2.start {
  font-size: 100px;
}
.game-content--body .congrats-contents {
  box-shadow: 0 3px 6px #000000a6;
  background-color: #fff;
  background-image: url(/image/bg-congrats.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10%;
  margin-right: 10%;
  padding: 20px;
}
.game-content--body .congrats-contents img {
  width: 100px;
  margin: 10px 0;
}
.game-content--body .congrats-contents h2 {
  margin-top: 10px;
  font-weight: 700;
  font-family: PM_Futuris;
  margin-bottom: 30px;
}
.game-content--body .congrats-contents h4 {
  color: #a4740e;
  font-weight: 700;
  font-family: PM_Futuris;
}
.game-content--body .congrats-contents .btn-default:nth-of-type(1) {
  margin-bottom: 20px;
  margin-top: 30px;
}
.game-content--body .congrats-contents .btn-default.btn-last {
  margin-bottom: 20px;
}
.game-content--body .endgame-contents,
.game-content--body .tryagain-contents {
  box-shadow: 0 3px 6px #000000a6;
  background-color: #fff;
  padding: 20px 30px;
  margin-left: 10%;
  margin-right: 10%;
}
.game-content--body .endgame-contents h3,
.game-content--body .tryagain-contents h3 {
  margin-top: 80px;
  font-weight: 700;
  font-family: PM_Futuris;
}
.game-content--body .endgame-contents p,
.game-content--body .tryagain-contents p {
  color: #a4740e;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 18px;
}
.game-content--body .endgame-contents .img-tryagain,
.game-content--body .tryagain-contents .img-tryagain {
  width: 80px;
  margin: 30px 0;
}
.game-content--body .endgame-contents .btn-default:nth-of-type(1),
.game-content--body .tryagain-contents .btn-default:nth-of-type(1) {
  margin-bottom: 20px;
}
.game-content--body .endgame-contents .btn-default.btn-last,
.game-content--body .tryagain-contents .btn-default.btn-last {
  margin-bottom: 50px;
}
.game-content--body .content-body--top {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}
.game-content--body .content-body--middle h3 {
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  margin-top: 30px;
}
.game-content--body .content-body--middle p {
  color: #fff;
  font-weight: 600;
  margin-top: 20px;
}
.game-content--body .content-body--middle .findpm-icons p {
  margin-bottom: 30px;
  font-size: 14px;
}
.game-content--body .content-body--middle .findpm-icons .coin {
  width: 19px;
  padding-bottom: 5px;
}
.game-content--body .content-body--footer .btn-block {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 10px 0;
}
.game-content--body .content-body--footer p {
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  width: 80%;
  margin: 0 auto;
}
.findpm {
  padding: 0 !important;
  justify-content: flex-start !important;
}
.findpm .findpm-header {
  justify-content: space-between !important;
}
.findpm .findpm-header .header--left {
  width: 100%;
  margin: auto;
  padding: 10px 0;
}
.findpm .findpm-header .header--left p {
  font-size: 20px;
  color: #fff;
  margin-bottom: 5px;
}
.findpm .findpm-header .header--left .image-count {
  background-color: #842a1d;
  border: 1px solid #662511;
  border-radius: 20px;
  padding: 5px 15px;
  color: #fff;
  font-size: 23px;
}
.findpm .findpm-header .header--left img {
  margin-left: 20px;
  width: 20%;
}
.findpm .findpm-header .header--right {
  display: flex;
}
.findpm .findpm-header .header--right .timer-bg {
  background: transparent
    linear-gradient(180deg, #570b0e 0, #ad161b 50%, #570b0e 100%) 0 0 no-repeat
    padding-box;
  border: 1px solid #a4740e;
  padding: 0 10px;
  display: flex;
  align-items: center;
}
.findpm .findpm-header .header--right .timer-badge {
  background-color: #842a1d;
  border: 1px solid #662511;
  color: #fff;
  border-radius: 50px;
  padding: 10px 20px;
  border: 1px solid #a4740e;
  width: 75px;
  height: 75px;
  text-align: center;
  margin: 0 auto;
}
.findpm .findpm-header .header--right .timer-badge h4 {
  margin-bottom: 0;
  font-size: 27px;
  color: #fff;
  font-weight: 700;
}
.findpm .findpm-header .header--right .timer-badge p {
  font-size: 11px;
  margin-bottom: 0;
}
.findpm .findpm-header .header--right .btn-close {
  height: fit-content;
  margin-left: 20px;
  margin-top: 20px;
}
.findpm .findpm-body {
  margin: 0 10px;
}
.findpm .findpm-body img {
  width: 100%;
}
.findpm .findpm-footer {
  color: #fff;
  height: 100%;
  padding-top: 10px;
}
.findpm .findpm-footer.find-footer-wbg {
  background: transparent url(/image/findpm-assets/bg-spark.png) 0 0 no-repeat
    padding-box;
  mix-blend-mode: screen;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.findpm .findpm-footer h5 {
  color: #fff;
  font-weight: 700;
  font-family: PM_Futuris;
  margin-bottom: 0;
}
.wordsearch {
  justify-content: flex-start !important;
  background-image: none;
  background-color: #fafafa;
  border: 1px solid #a4740e;
  padding: 0;
}
.wordsearch .wordsearch-header {
  background-image: url("../image/bg-gamebody.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 0;
}
.wordsearch h6 {
  margin-top: 10px;
  color: white;
  padding-bottom: 10px;
  font-family: "PM_Futuris";
  font-weight: bold;
}
#tableList {
  color: white;
  margin-top: 10px;
  text-align: left;
}
#tableList td {
  border: 0;
  padding: 0;
}
#tableList td img {
  width: 20px;
  margin-left: 18%;
  margin-bottom: 5px;
  margin-right: 2px;
}
.wordsearch .btn-close {
  position: absolute;
  right: 34px;
  top: 28px;
}
.wordsearch .wordsearch-body {
  background-color: #fafafa;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding-top: 20px;
}
.wordsearch .wordsearch-body .wordsearch-letters {
  padding: 15px;
}
.wordsearch .wordsearch-body .wordsearch-letters img {
  width: 100%;
}
.wordsearch .wordsearch-body .btn-default {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
}
.ws-h3 {
  padding-left: 15px;
  padding-right: 15px;
}
.btn-default {
  background-color: #ca151a;
  background-image: url(/image/bg-button.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0;
  color: #fff;
  font-weight: 700;
  font-family: PM_Futuris;
  padding: 8px 0;
  font-size: 14px;
}
.btn-default-round {
  color: #fff;
  border-radius: 50%;
  width: 40px;
  background-color: #ca151a;
  box-shadow: 0 3px 6px #00000040;
}
.btn-single {
  margin-bottom: 50px !important;
}
.btn-play {
  margin-top: 50px !important;
}
.btn:active .btn.active,
.btn:hover {
  color: #fff;
}
.btn:active:focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}
.btn-wifi {
  background-color: #ca151a;
  font-size: 10px;
  color: #fff;
  border-radius: 50%;
  padding: 1px 6px;
  position: absolute;
  margin-left: 2px;
}
.btn-animate {
  animation: beat 0.35s infinite alternate;
  transform-origin: center;
  box-shadow: 0 3px 6px #00000040;
}

ul#wordsList .ws-words {
  max-width: 75%;
  list-style-type: none;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  color: white;
}
li {
  display: inline-flex;
  letter-spacing: 0px;
  color: #ffffff;
  font-size: 12px;
  float: left;
}
li.circle {
  background: url("../image/wordsearch-assets/icon-uncheck.png");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: left;
  padding-left: 20px;
  padding-right: 10px;
  margin-left: 18%;
  margin-bottom: 5px;
  margin-right: 2px;
}

li.wordCheck {
  background: url("../image/wordsearch-assets/icon-checked.png");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: left;
  padding-left: 20px;
  padding-right: 10px;
  margin-left: 18%;
  margin-bottom: 5px;
  margin-right: 2px;
}
/* .wordsearch-letters {
  vertical-align: top;
  margin-top: -50px;
} */

#ws-area {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 0 !important;
}

.ws-row {
  line-height: 0;
}

.ws-col {
  cursor: pointer;
}

.ws-col.ws-selected,
.hint {
  background: #f59089 0% 0% no-repeat padding-box;
  border-radius: 1px;
  opacity: 0.25;
}
.ws-col.ws-selected {
  background: #f59089 0% 0% no-repeat padding-box;
  border-radius: 1px;
  opacity: 0.6;
}

.ws-col.ws-found {
  background: #f59089 !important;
}
@keyframes beat {
  to {
    transform: scale(1.06);
  }
}
.wifi-message {
  display: none;
}
.wifi-message .wifi-content {
  position: fixed;
  z-index: 99;
  right: 0;
  top: 50px;
  display: flex;
  align-items: center;
  background-color: #ca151a;
  box-shadow: 0 3px 6px #00000091;
  opacity: 0.9;
  color: #fff;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
}
.wifi-message img {
  width: 40px;
}
.wifi-message p {
  font-family: PM_Futuris;
  font-weight: 100;
  font-size: 12px;
  margin-bottom: 0;
  padding-left: 15px;
  padding-right: 5px;
}
.wifi-message .btn-close {
  background-color: transparent;
  color: #fff;
}
.btn-volume {
  position: absolute;
  right: 0;
  font-size: 20px;
  top: -5px;
  color: #6b6b6b;
}
.btn-volume:active,
.btn-volume:focus,
.btn-volume:hover {
  color: #ca151a;
  background-color: transparent;
}
.btn-volume .fa-volume-up {
  color: #ca151a;
}
#preloader {
  background-color: #fff;
  width: 100%;
  z-index: 1000;
  position: fixed;
  height: -webkit-fill-available;
  overflow: hidden;
}
#preloader img {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 40px;
  width: 7%;
}
#landscape {
  position: absolute;
  top: 0px;
  left: 0px;
  background: white;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 20000;
  opacity: 0.9;
  margin: 0 auto;
}
#landscape div {
  color: #ffffff;
  opacity: 1;
  top: 50%;
  position: absolute;
  text-align: center;
  display: inline-block;
  width: 100%;
  color: white;
  background-color: #f59089;
}
#landscape2 {
  position: absolute;
  top: 0px;
  left: 0px;
  background: black;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 90000;
  opacity: 0.9;
  margin: 0 auto;
}
#landscape2 div {
  color: #ffffff;
  opacity: 1;
  top: 50%;
  position: absolute;
  text-align: center;
  display: inline-block;
  width: 100%;
  color: black;
}
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5px;
  width: 200px;
  background: #a69e97;
  overflow: hidden;
}
.pace .pace-progress {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  max-width: 200px;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: #ca151a;
}
.pace.pace-inactive {
  display: none;
}
#step-2,
#step-2-end,
#step-3,
#step-3-end,
#step-4,
#step-4-end,
#step-5,
#step-5-end,
#step-6,
#step-7 {
  display: none;
}
.findpm--step-1,
.findpm--step-2 {
  width: 92%;
}
.findpm--step-2 {
  margin-top: 20px;
}
.iconto-find {
  margin-bottom: 20px;
  width: 50%;
}
@media (max-width: 1024px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  .game-content--body {
    min-height: 80vh;
    height: 80vh;
  }
  .col-md-6 {
    flex: 0 0 70%;
    max-width: 70%;
  }
  .game-content {
    padding-top: 5rem;
  }
  .findpm .findpm-header {
    height: 100%;
  }
  .findpm .findpm-header .header--left img {
    width: 15%;
  }
  #preloader img {
    padding-bottom: 0;
  }
  .findpm--step-1,
  .findpm--step-2 {
    width: 70%;
  }
  .wordsearch .wordsearch-body {
    padding-top: 40px;
  }
  .wordsearch .ws-col {
    height: 50px;
  }
}
@media (max-width: 768px) {
  .col-md-6 {
    flex: none;
    max-width: none;
  }
  .game-content {
    padding-top: 4rem;
  }
  .game-content--body {
    width: 100%;
  }
  .game-content--body .content-body--middle p {
    padding: 0 20px;
  }
  .game-content--body .congrats-contents img {
    width: 60px;
  }
  .game-content--body .tryagain-contents .img-tryagain {
    width: 50px;
    margin: 20px 0;
  }
  .findpm--step-1,
  .findpm--step-2 {
    width: 80%;
  }
  .iconto-find {
    width: 30%;
  }
  .wordsearch .wordsearch-body {
    padding-top: 20px;
  }
  .wordsearch .ws-col {
    height: 40px;
  }
}
@media (max-width: 414px) {
  .game-content {
    padding-top: 2.5rem;
  }
  .game-content--body {
    min-height: 70vh;
    height: 70vh;
  }
  .game-content--heading h2 {
    font-size: 20px;
  }
  .game-content--heading p {
    font-size: 14px;
  }
  .game-content--body .content-body--middle h3 {
    font-size: 15px;
  }
  .game-content--body .content-body--middle p {
    font-size: 12px;
  }
  .game-content--body .content-body--middle .findpm-icons p {
    font-size: 12px;
  }
  .game-content--body .content-body--footer .btn-block {
    padding: 8px 0;
  }
  .game-content--body .content-body--footer p {
    font-size: 10px;
  }
  .game-content--body.content-countdown h2 {
    font-size: 100px;
  }
  .game-content--body.content-countdown h2.start {
    font-size: 70px;
  }
  .game-content--body.content-countdown h4 {
    font-size: 20px;
  }
  .game-content--body.content-countdown .btn-default:nth-of-type(1) {
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .game-content--body.content-countdown .btn-default.btn-last {
    margin-bottom: 10px;
  }
  .game-content--body .congrats-contents {
    margin-left: 5%;
    margin-right: 5%;
  }
  .game-content--body .congrats-contents h2 {
    margin-bottom: 10px;
    font-size: 30px;
  }
  .game-content--body .congrats-contents .btn-default:nth-of-type(1) {
    margin-bottom: 10px;
    margin-top: 15px;
  }
  .game-content--body .congrats-contents .btn-default.btn-last {
    margin-bottom: 10px;
  }
  .game-content--body .endgame-contents,
  .game-content--body .tryagain-contents {
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px 20px;
  }
  .game-content--body .endgame-contents h3,
  .game-content--body .tryagain-contents h3 {
    font-size: 18px;
    margin-top: 50px;
  }
  .game-content--body .endgame-contents p,
  .game-content--body .tryagain-contents p {
    margin-top: 10px;
    font-size: 14px;
  }
  .game-content--body .endgame-contents .btn-default:nth-of-type(1),
  .game-content--body .tryagain-contents .btn-default:nth-of-type(1) {
    margin-bottom: 10px;
  }
  .game-content--body .endgame-contents .btn-default.btn-last,
  .game-content--body .tryagain-contents .btn-default.btn-last {
    margin-bottom: 30px;
  }
  .findpm .findpm-header .header--left img {
    width: 30%;
    margin-top: -11px;
    margin-left: 0;
  }
  .findpm .findpm-header .header--left p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .btn-default {
    font-size: 12px;
  }
  .btn-default-round {
    font-size: 14px;
    width: auto;
    padding: 4px 11px;
  }
  .btn-volume {
    top: -13px;
  }
  #preloader img {
    width: 80px;
  }
  .iconto-find {
    width: 50%;
  }
  .findpm--step-1,
  .findpm--step-2 {
    width: 80%;
  }
  .findpm--step-1 {
    margin-bottom: 10px;
  }
  .wordsearch .wordsearch-header {
    padding: 0;
  }
  .wordsearch .wordsearch-body {
    padding-top: 5px;
  }
  .wordsearch .wordsearch-body .wordsearch-letters {
    padding: 5px;
  }
  .wordsearch .wordsearch-body .btn-default {
    margin-top: 0;
    padding: 8px 0;
  }
  .wordsearch .table td {
    font-size: 11px;
  }
  .wordsearch .ws-col {
    height: 27px;
  }
  .wordsearch .btn-close {
    top: 10px;
  }
}
@media (max-width: 375px) {
  .game-content {
    padding-top: 2rem;
  }
  .iconto-find {
    width: 45%;
  }

  .wordsearch .wordsearch-body {
    background-color: #f0f0f0;
    border: 1px solid #a4740e;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  .wordsearch-letters {
    margin-top: -50px;
  }
  .wordsearch .wordsearch-body .btn-default {
    height: 34px;
  }
  .wordsearch .ws-col {
    height: 20px;
  }
}
@media only screen and (device-width: 375px) and (device-height: 812px) {
  .game-content {
    padding-top: 3rem;
  }
  .game-content--body {
    min-height: 65vh;
    height: 65vh;
  }
  .findpm--step-1,
  .findpm--step-2 {
    width: 90%;
  }
  .wordsearch .wordsearch-body {
    padding-top: 10px;
  }
  .wordsearch .ws-col {
    height: 27px;
  }
}
@media (max-width: 320px) {
  .game-content--heading h2 {
    font-size: 19px;
  }
  .game-content--heading p {
    font-size: 12px;
  }
  .game-content--heading p img {
    width: 10px;
  }
  .game-content--body .content-body--middle p {
    margin-top: 0;
  }
  .game-content--body .content-body--footer .btn-block {
    padding: 5px 0;
  }
  .game-content--body .congrats-contents img {
    width: 35px;
  }
  .game-content--body .congrats-contents h2 {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .game-content--body .congrats-contents h4 {
    font-size: 15px;
  }
  .findpm .findpm-header .header--left img {
    width: 24%;
    margin-top: -3px;
    margin-left: 0;
  }
  .findpm .findpm-header .header--left p {
    font-size: 10px;
    margin-bottom: 10px;
  }
  .findpm .findpm-header .header--left .image-count {
    font-size: 12px;
  }
  .findpm .findpm-header .header--right .timer-badge {
    padding: 10px 10px;
    width: 60px;
    height: 60px;
  }
  .findpm .findpm-header .header--right .timer-badge h4 {
    font-size: 15px;
  }
  .findpm .findpm-header .header--right .btn-close {
    margin-left: 10px;
    margin-top: 10px;
  }
  .wifi-message p {
    font-size: 10px;
  }
  .btn-wifi {
    font-size: 5px;
    width: auto;
    padding: 1px 3px;
  }
  .btn-volume {
    top: -15px;
  }
  .btn-default {
    font-size: 12px;
  }
  #preloader img {
    width: 60px;
  }
  .iconto-find {
    margin-bottom: 0;
  }
  .wordsearch .ws-col {
    height: 17px;
  }
}
area:focus {
  outline: yellow auto 3px;
}
.pulsate-css {
  animation: pulsate 1s ease-out;
  animation-iteration-count: 5;
  opacity: 1;
}
/* Make the element pulse (grow large and small slowly) */
/* Usage
         .myElement {
             animation: pulsate 1s ease-out;
             animation-iteration-count: infinite;
             opacity: 1; 
         }
     */
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.3, 0.3);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.7, 0.7);
    opacity: 0;
  }
}

/* Make the element's opacity pulse*/
/* Usage
       .myElement {
           animation: opacityPulse 1s ease-out;
           animation-iteration-count: infinite;
           opacity: 0; 
       }
     */
@-webkit-keyframes opacityPulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Make the element's background pulse. I call this alertPulse because it is red. You can call it something more generic. */
/* Usage
       .myElement {
           animation: alertPulse 1s ease-out;
           animation-iteration-count: infinite;
           opacity: 1; 
       }
     */
@-webkit-keyframes alertPulse {
  0% {
    background-color: #9a2727;
    opacity: 1;
  }
  50% {
    opacity: red;
    opacity: 0.75;
  }
  100% {
    opacity: #9a2727;
    opacity: 1;
  }
}

/* Make the element rotate infinitely. */
/* 
     Usage
       .myElement {
           animation: rotating 3s linear infinite;
       }
     */
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* Make the element pulse (grow large and small slowly) */
/* Usage
         .myElement {
             animation: pulsate 1s ease-out;
             animation-iteration-count: infinite;
             opacity: 1; 
         }
     */
@keyframes pulsate {
  0% {
    -webkit-transform: scale(0.3, 0.3);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.7, 0.7);
    opacity: 0;
  }
}

/* Make the element's opacity pulse*/
/* Usage
       .myElement {
           animation: opacityPulse 1s ease-out;
           animation-iteration-count: infinite;
           opacity: 0; 
       }
     */
@keyframes opacityPulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Make the element's background pulse. I call this alertPulse because it is red. You can call it something more generic. */
/* Usage
       .myElement {
           animation: alertPulse 1s ease-out;
           animation-iteration-count: infinite;
           opacity: 1; 
       }
     */
@keyframes alertPulse {
  0% {
    background-color: #9a2727;
    opacity: 1;
  }
  50% {
    opacity: red;
    opacity: 0.75;
  }
  100% {
    opacity: #9a2727;
    opacity: 1;
  }
}

/* Make the element rotate infinitely. */
/* 
     Usage
       .myElement {
           animation: rotating 3s linear infinite;
       }
     */
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}
#overlay h2 {
  position: absolute;
  top: 60%;
  left: 50%;
  font-size: 50px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-weight: 700;
  font-family: PM_Futuris;
  font-size: 100px;
}
#overlay h2.start {
  position: absolute;
  top: 58%;
  left: 50%;
  font-size: 50px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* iphone 4 */
@media only screen and (min-device-width: 320px) and (max-device-height: 480px) and (-webkit-device-pixel-ratio: 2) {
}

/* iphone 5 */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (-webkit-device-pixel-ratio: 2) {
  #overlay h2 {
    top: 53%;
    font-size: 50px;
  }
  #overlay h2.start {
    top: 52%;
    font-size: 45px;
  }
}

/* iphone 6, 6s, 7, 8 */
@media only screen and (min-device-width: 411px) and (max-device-height: 823px) {
  #overlay h2 {
    top: 53%;
    font-size: 50px;
  }
  #overlay h2.start {
    top: 52%;
    font-size: 48px;
  }
}

/* iphone 6+, 6s+, 7+, 8+ */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
  #overlay h2 {
    top: 53%;
  }
  #overlay h2.start {
    top: 52%;
  }
}

/* iphone X , XS, 11 Pro */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  #overlay h2 {
    top: 53%;
  }
  #overlay h2.start {
    top: 52%;
  }
}

/* iphone XR, 11 */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
}

/* iphone XS Max, 11 Pro Max */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
}
